/* add default's to weppage */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body { min-height: 100vh; }

.flex {
    display: flex;
    flex-wrap: wrap;
    &.column {
        flex-direction: column;
    }
    &.row-rev {
        flex-direction: row-reverse;
    }
    &.column-rev {
        flex-direction: column-reverse;
    }
    &.center {
        justify-content: center;
    }
    &.start {
        justify-content: flex-start;
    }
    &.end {
        justify-content: flex-end;
    }
    
}

.border {
    border: solid .1rem black;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2.08rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1.28rem;
}

h6 {
    font-size: 1.12rem;
}

p {
    font-size: 1.6rem;
}

a {
    font-size: 1.6rem;
}

li {
    font-size: 1.6rem;
}

.btn {
    font-size: 1.6rem;
    text-align: center;
    width: auto;
    height: auto;
    padding: .2rem 1rem;
    border-radius: .7rem;
    border: .1rem solid black; 
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

header {

}
.contact {
  
}


